.friend {
  max-width: 45px;
  text-align: center;

  margin-bottom: 0;
  font: var(--ff-small);
}

.friend img {
  width: 100%;
  border-radius: 50%;
}

.friend b {
  display: block;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}