.friend {
  width: 100%;
  max-width: 30%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-left: 5%;
}

.friend:nth-child(n + 4) {
  margin-top: var(--mm);
}

.friend:nth-child(1), .friend:nth-child(3n + 4) {
  margin-left: 0;
}

.friend a {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font: var(--ff-small);
}

.friend b {
  display: block;
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;

  margin-top: calc(var(--mm) / 3);
}