.settings {
  width: 100%;
  margin-top: var(--mm);
}

.settings div {
  width: 50%;
  height: var(--button-h);

  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-end;

  vertical-align: top;
}

.login_button {
  text-align: center;
  justify-content: center!important;
}

.accept_error {
  width: 50%;
  text-align: center;
  margin-top: var(--mm);
}