.bar {
  grid-area: n;   /* App.module.css */

  position: sticky;
  top: calc(var(--hh) + var(--mm));
}

.bar .offset {
  margin: var(--mmm) 0 0;
}

@media only screen and (max-width: 750px) {
  .bar {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
}