/* page info-block */
.block {
  background-color: var(--white);
  border-radius: var(--rr);

  padding: var(--mm);
  box-sizing: border-box;

  margin-top: var(--mm);
}

.block_label {
  width: 100%;
  height: 28px;

  font: var(--ff-small);
  color: var(--dark-blue);

  border-bottom: 1px solid var(--gray);
  margin-bottom: var(--mm);

  position: relative;
}

.before_content {
  height: calc(100% - var(--mm));
}
/* * */


/* centering stuff */
.cc, .cc_inline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cc_inline {
  display: inline-flex;
}

.cc_column {
  flex-direction: column;
}
/* * */


/* text header (before <p>) */
.ff_header {
  font: var(--ff-large);
}
/* * */


/* default link */
a {
  display: block;
  float: left;
  clear: left;

  font: var(--ff-normal);
  color: var(--dark-blue);
  text-decoration: none;

  position: relative;
  z-index: 1;
  background-color: var(--white);
}

a:hover {
  color: var(--blue);
}

a.active_link {
  cursor: default;
  color: var(--blue)!important;
  text-decoration: none!important;
}

a.inline_a {
  display: inline;
  float: none;
  clear: none;
}

a.colored_a {
  color: var(--blue);
  text-decoration: underline;
}

a.colored_a:hover {
  text-decoration: none;
}

.default_a a {
  margin-top: var(--mm);
}

.default_a a:first-child {
  margin-top: 0;
}

.num_label {
  position: relative;
  margin-top: var(--mm);
}

.num_label:first-child {
  margin-top: 0;
}

.num_label a {
  display: inline;
  float: none;
  clear: none;
}

.num_label div {
  width: 100%;

  font: var(--ff-normal);
  text-align: right;
  color: var(--dark-blue);

  display: block;
  height: var(--mm);

  position: absolute;
  top: 0;
  z-index: 0;
}

.num_label div:after {
  content: '';

  width: 100%;
  height: 1px;

  display: block;

  position: absolute;
  bottom: 2px;

  box-sizing: border-box;
  border-bottom: 1px dotted var(--gray);
}

.num_label div b {
  display: inline-block;
  font-weight: normal;

  background-color: var(--white);

  position: relative;
  z-index: 1;
}

a:after, .num_label div b:after {
  content: '';

  width: 5px;
  height: 100%;

  display: block;

  position: absolute;
  top: 0;
  right: -5px;

  background-color: var(--white);
}

.num_label div b:after {
  right: auto;
  left: -5px;
}

@media (hover: none) {
  a:hover { color: var(--dark-blue); }
}
/* * */



/* textarea */
textarea {
  display: block;

  box-sizing: border-box;
  border: 1px solid var(--dark-blue);
  padding: 5px 10px 10px 10px;

  font: var(--ff-normal);
}
/* * */



/* button */
.button {
  width: auto;
  height: var(--button-h);

  display: inline-block;
  border: 0;

  box-sizing: border-box;
  padding: 0 var(--mm) 0 var(--mm);
  border-radius: var(--r);

  font: var(--ff-small);
  line-height: 39px;
  color: var(--white);
  white-space: nowrap;

  background-color: var(--dark-blue);
  cursor: pointer;

  transition: opacity .1s ease-out;

  user-select: none;
  -moz-user-select: none;
}

.button:hover {
  opacity: .9;
}
/* * */



/* avatar */
.a_z {
  width: var(--avatar-z);
  height: var(--avatar-z);
}

.a_s {
  width: var(--avatar-s);
  height: var(--avatar-s);
}

.a_m {
  width: var(--avatar-m);
  height: var(--avatar-m);
}

.a_l {
  width: var(--avatar-l);
  height: var(--avatar-l);
}

.avatar {
  position: relative;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.shadow_inset:before, .shadow_inset:after {
  content: '';

  width: 100%;
  height: 100%;

  display: block;

  position: absolute;
  z-index: 2;

  border-radius: 50%;
  box-shadow: inset 0 0 15px 5px var(--dark-blue);
}

.shadow_inset:after {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
}

.a_z.shadow_inset:before { box-shadow: inset 0 0 7px 2px var(--dark-blue); }
.a_z.shadow_inset:after { box-shadow: 0 0 2px 1px var(--white); }
/* * */



/* input=text */
.input_text {
  width: 100%;
  height: var(--button-h);

  margin-top: var(--mm);

  position: relative;
}

.input_text:first-child {
  margin-top: 0;
}

.input_text input {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  border: 1px solid var(--dark-blue);
  border-radius: var(--rr);

  background: transparent;

  font: var(--ff-normal);
  color: var(--dark-blue);

  padding: 10px 0 0 10px;

  position: relative;
  z-index: 2;
}

.input_text label {
  position: absolute;
  left: 11px;
  top: 10px;
  z-index: 1;

  font: var(--ff-normal);
  color: var(--dark-gray);

  transition: all .1s ease-out;
}

.input_text input:focus + label, .filled + label {
  top: 2px;
  font: var(--ff-small);
}
/* * */



/* input=checkbox */
.input_checkbox {
  position: relative;
}

.input_checkbox input {
  display: none;
}

.input_checkbox label {
  cursor: pointer;
  color: var(--dark-gray);
  font: var(--ff-small);

  transition: color .3s ease-out;
}
.input_checkbox input:checked + label {
  color: var(--dark-blue);
}
.input_checkbox label:hover {
  font-weight: bold;
}

.input_checkbox label:before {
  content: '';

  width: 20px;
  height: 20px;

  display: inline-block;

  box-sizing: border-box;
  border: 1px solid var(--dark-blue);

  margin-right: calc(var(--mm) / 2);
}

.input_checkbox label:after {
  content: '\2714';

  font: var(--ff-normal);
  font-size: 15px;
  font-weight: bold;

  color: var(--dark-blue);

  position: absolute;
  left: 4px;
  bottom: 3px;

  opacity: 0;

  transition: opacity .3s ease-out;
}

.input_checkbox input:checked + label:after {
  opacity: 1;
}
/* * */



/* app settings */
.wrapper {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-areas:
    "h h h h"   /* h - Header.module.css      */
    ". n c ."   /* n - NavBar.module.css      */
    ". u c ."   /* s - UsersSearch.module.css */
    ". f c ."   /* f - local                  */
    ". o c ."   /* o - local                  */
    ". . c ."   /* c - local                  */
  ;

  grid-template-columns: var(--of) 200px minmax(0, calc(800px - var(--mm))) var(--of);
  grid-template-rows: var(--hh) minmax(auto, calc(var(--bh) + var(--mm))) auto auto auto 1fr;
  grid-column-gap: var(--mm);
}

.content {
  grid-area: c;   /* local */
}

.left_bar {
  grid-area: f;   /* local */
  position: sticky;
  top: calc(var(--bh) + var(--hh) + var(--mmm) + var(--mm) + 50px);
}

.left_offset {
  grid-area: o;   /* local */
  position: sticky;
  top: calc(var(--bh) + var(--hh) + var(--mmm) + var(--mm) * 2 + 168px);
}



/* MOBILE */
@media only screen and (max-width: 750px) {
  .wrapper {
    grid-template-areas:
        "h h h"   /* h - Header.module.css   */
        ". c ."   /* c - local               */
    ;
    grid-template-columns: var(--of) 1fr var(--of);
    grid-template-rows: 50px 1fr;
  }

  .left_bar {
    display: none;
  }
}
/* * */