html, body, p, h1, ul, li {
  margin: 0;
  padding: 0;
}

input, textarea, button {
  resize: none;
  outline: none;
}

@font-face {
  font-display: fallback;
  font-family: 'Roboto';
  src: url('assets/fonts/roboto.woff') format('woff');
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  --m: 0.5rem;  /* half gap */
  --mm: 1rem;   /* default gap */
  --mmm: 2rem;  /* double gap */
  --dm: -1rem;  /* reversed gap */

  --rr: 5px;    /* default border radius */
  --r: 3px;     /* small border radius */

  --bh: 252px;  /* nav bar height */
  --hh: 50px;   /* header height */

  --of: minmax(0, auto);  /* отступы контента от края экрана */

  --ff-normal: normal .9rem Roboto, Impact, sans-serif;
  --ff-large: normal 1.5rem Roboto, Impact, sans-serif;
  --ff-small: normal .7rem Roboto, Impact, sans-serif;

  --avatar-s: 45px;
  --avatar-m: 60px;
  --avatar-l: 150px;

  --dark-red: #5C0909;
  --red: #CF1818;

  --dark-blue: #09405C;
  --blue: #1891CF;

  --gray: #D1D8DB;
  --dark-gray: #B0B6B9;

  --white: #FBFBFB;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--gray);
  font: var(--ff-normal);

  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar-button {
  height: var(--hh);
  background-color: var(--dark-blue);
}

body::-webkit-scrollbar-button:vertical:increment {
  display: none;
}
body::-webkit-scrollbar { width: 12px; }
body::-webkit-scrollbar-track { background: var(--gray); }
body::-webkit-scrollbar-thumb { border-radius: 2px; -webkit-box-shadow: inset 0 0 3px 1px var(--dark-blue); }

